# The releng team is by default the owner of everything.
*             @eclipse-set/eclipsefdn-releng

# Otterdog related configuration are also owned by the security team.
/otterdog/**  @eclipse-set/eclipsefdn-security
